* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.header {
    height: 100px;
    background-color: gainsboro;
}

#map {
    height: 100%;
}

.container {
    position: relative;
}

.side {
    display: none;
    position: absolute;
    height: 100%;
    width: 33%;
    right: 0;
    top: 0;
    z-index: 10000;
    background-color: white;
}

.photo-preview {
    height: 100px;
}